body{
    background-color: rgb(238, 233, 227);
    background: url('bh.jpg') no-repeat top left ;
    background-size: 1910px;
}
b{
    
    color:rgb(10, 6, 0);
}
h1{
color: black;


}
.black{
    
    color: black;
}
.pink{
  
color: black;

}
.voil{
   
    color: black;
}
.purple{
  
    color: black;
}
ul{
    color: rgb(3, 5, 0);
}