

body{
    background-color: rgb(238, 233, 227);
    background: url('bh.jpg') no-repeat top left ;
    background-size: 1910px;
}
.red{
    
    color:rgb(10, 6, 0);
   
    width: 352px;
    background-color: aqua;



}
h1{
color: black;
width: 500px;
background-color: aqua;



}
.black{
    
    color: black;
   
}
.pink{
  
color: black;

}

ul{
    color: rgb(3, 5, 0);
    font-size: 30px;
}
.copyright{
    text-align: center;
   
}
h2{
    width: 250px;
    background-color: aqua;
    font-size: 35px;
}
h3{background-color: aqua;
    font-size: 35px;
    display: inline-block;
    margin: 4px;
    padding: 0px;

}
h4{background-color: aqua;
    font-size: 35px;
    display: inline-block;
    margin: 4px;
    padding: 0px;

}
i{
    font-family:  cursive;
    font-size: 28px;
    
}
h5{
    display: inline-block;
    font-size: 35px;
    background-color: aqua;
    margin: 4px;
    padding: 0;

}
.contact{
    display: inline-block;
    font-size: 25px;
}


